@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://fonts.googleapis.com/css?family=Roboto:italic";
@import "https://fonts.googleapis.com/css?family=Shrikhand";
@keyframes selectIN {
  from {
    margin-right: -20%;
  }
  to {
    margin-right: 0%;
  }
}
@keyframes PageLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes PageLoaderHide {
  0% {
    visibility: visible;
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes blockAppear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  font-family: "Roboto";
  text-align: left;
}

body {
  max-width: 767px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  /*box-shadow: 0px 5px 5px $shadow;*/
}
header a {
  margin-left: 5%;
  margin-right: auto;
}

.logo {
  width: 50%;
  height: 50%;
  object-fit: scale-down;
}

.logonext {
  width: 50%;
  height: 50%;
  object-fit: scale-down;
  margin-right: 23%;
}

h1 {
  color: #3e3e3e;
  margin-left: 1%;
}

.location {
  background-color: #e9e9e9;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  box-shadow: inset 0px 11px 12px -10px black, inset 0px -1px 12px -10px black;
}

.Reservez {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}
.Reservez > h2 {
  text-align: center;
}
.Reservez > h3 {
  text-align: center;
}

h2 {
  font-size: 38px;
  font-weight: bolder;
}

h3 {
  font-size: 28px;
  font-weight: 200;
  color: #3e3e3e;
}

.fa-solid {
  color: #3e3e3e;
  font-size: 24px;
}

.explore_restaurant {
  margin-top: 10px;
  background: rgb(237, 116, 217);
  background: linear-gradient(180deg, rgb(237, 116, 217) 0%, rgb(168, 94, 217) 100%);
  width: fit-content;
  padding: 20px;
  border-radius: 35px;
  box-shadow: 0px 6px 38px 2px rgba(0, 0, 0, 0.35);
  transition-property: all;
  transition-duration: 500ms;
}
.explore_restaurant:hover {
  transition-property: box-shadow;
  transition-duration: 500ms;
  box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.35);
  background: linear-gradient(180deg, rgb(243, 173, 231) 0%, rgb(186, 139, 218) 100%);
}
.explore_restaurant > div {
  font-weight: 600px;
  color: white;
  font-size: 24px;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: black;
  color: inherit;
}
a:hover {
  color: black;
  color: inherit;
}

.Fonctionnement {
  min-height: 500px;
  width: 100%;
}
.Fonctionnement > h2 {
  margin-top: 60px;
  margin-left: 5%;
  text-align: left;
}
.Fonctionnement > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.Fonctionnement_Bloc {
  width: 80%;
  min-height: 100px;
  border-radius: 20px;
  box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  gap: 8%;
}
.Fonctionnement_Bloc > p {
  font-size: 20px;
  font-weight: 700;
}
.Fonctionnement_Bloc:hover {
  background-color: #f5edff;
}
.Fonctionnement_Bloc:hover > .fa-solid {
  color: #9356DC;
}

.Fonctionnement_Numbers {
  background-color: #9356DC;
  /*width: 35px;
  height: 35px;*/
  padding: 5px 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: -18px;
  font-size: 20px;
}

.IndexMain {
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 40px;
  min-height: 500px;
}
.IndexMain > h2 {
  padding-top: 50px;
  text-align: left;
  margin-left: 5%;
}

.RestaurantList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.RestaurantList_Block {
  width: 90%;
  height: 350px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.35);
  position: relative;
}
.RestaurantList_Block > img {
  width: 100%;
  object-fit: cover;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
}
.RestaurantList_Block > div {
  display: flex;
  width: auto;
}
.RestaurantList_Block > div > div {
  width: 80%;
}
.RestaurantList_Block > div > div > h3 {
  margin-top: auto;
  padding-top: 5%;
  margin-left: 3%;
  margin-bottom: auto;
  text-align: left;
}
.RestaurantList_Block > div > div > p {
  text-align: left;
  margin-bottom: auto;
  margin-left: 3%;
  margin-top: auto;
}
.RestaurantList_Block > div > i {
  margin: auto;
  align-self: center;
  font-size: 40px;
}

.NouveauIcon {
  position: absolute;
  padding: 10px 15px;
  background-color: #99e2d0;
  right: 26px;
  top: 17px;
  border-radius: 3px;
  color: #088b6b;
}

footer {
  background-color: #343434;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  justify-content: flex-start;
}
footer > img {
  width: 40%;
  height: 40px;
  margin-left: 3%;
  filter: invert(100%);
  object-fit: scale-down;
}
footer a {
  color: white;
  text-align: left;
  margin-left: 3%;
  font-size: 16px;
}
footer a .fa-solid {
  color: white;
  margin-right: 5px;
}
footer a:visited {
  color: white;
}
footer a:hover {
  color: white;
}
footer > div {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.Resto_Image {
  min-height: 300px;
  width: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 1;
}

.RestoMain {
  margin-top: -90px;
  background-color: #f6f6f6;
  border-radius: 60px 60px 0px 0px;
  min-height: 300px;
  position: relative;
  z-index: 3;
  margin-bottom: 30px;
}
.RestoMain .Resto_Title {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.RestoMain .Resto_Title > .fa-regular {
  font-size: 36px;
  margin-right: 5%;
  margin-left: auto;
}
.RestoMain .Resto_Title > h1 {
  font-family: Shrikhand;
  font-size: 36px;
  margin-right: auto;
  margin-left: 5%;
}

.Resto_Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Resto_Menu .Resto_Menu_Bloc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Title {
  height: 100%;
  color: black;
  font-style: normal;
  position: relative;
  align-self: flex-start;
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Title::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  width: 50%;
  left: 0%;
  border-bottom: 5px solid #99E2D0;
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent1 {
  animation: blockAppear 1000ms 2200ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent2 {
  animation: blockAppear 1000ms 2400ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent3 {
  animation: blockAppear 1000ms 2600ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent4 {
  animation: blockAppear 1000ms 2800ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent5 {
  animation: blockAppear 1000ms 3000ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent6 {
  animation: blockAppear 1000ms 3200ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent7 {
  animation: blockAppear 1000ms 3400ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent8 {
  animation: blockAppear 1000ms 3600ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent9 {
  animation: blockAppear 1000ms 3800ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .AnimContent10 {
  animation: blockAppear 1000ms 4000ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, 0.57, 0.43, 0.91);
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 30px;
  box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.35);
  background-color: white;
  width: 100%;
  overflow: hidden;
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Element:hover .Resto_Menu_Bloc_Element_Validation {
  transition: margin-right 500ms;
  margin-right: 0%;
  animation-duration: 500ms;
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Element:hover .Resto_Menu_Bloc_Element_Validation i {
  transition-duration: 500ms;
  transform: rotate(360deg);
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Element .Resto_Menu_Bloc_Element_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Element .Resto_Menu_Bloc_Element_content > h3 {
  margin-top: 5px;
  margin-left: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 21px;
  font-weight: 900;
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Element .Resto_Menu_Bloc_Element_content > div {
  display: flex;
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Element .Resto_Menu_Bloc_Element_Validation {
  background-color: #99E2D0;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: margin-right;
  transition-duration: 500ms;
  margin-right: -20%;
}
.Resto_Menu .Resto_Menu_Bloc .Resto_Menu_Bloc_Element .Resto_Menu_Bloc_Element_Validation i {
  transform: rotate(0);
}

.Resto_Menu_Bloc_Element_Description {
  margin-left: 20px;
  margin-right: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Resto_Menu_Bloc_Element_price {
  margin-right: 5%;
  margin-left: auto;
}

.Laoder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #e9e9e9;
  opacity: 0.3;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  animation: PageLoaderHide 2000ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.74, 0.44, 0.94, 0.45);
}
.Laoder i {
  position: sticky;
  font-size: 200px;
  animation-name: PageLoader;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: #99E2D0;
}

.LikeButton {
  margin-left: auto;
  margin-right: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
}
.LikeButton .fa-regular {
  font-size: 30px;
  opacity: 1;
  position: absolute;
  transition: 300ms ease-in-out;
}
.LikeButton .fa-solid {
  font-size: 30px;
  opacity: 0;
  position: absolute;
  transition: 300ms ease-in-out;
  color: transparent;
  background: linear-gradient(180deg, rgb(237, 116, 217) 0%, rgb(168, 94, 217) 100%);
  background-clip: text;
}
.LikeButton:hover .fa-regular {
  opacity: 0;
}
.LikeButton:hover .fa-solid {
  opacity: 1;
}

@media (min-width: 767px) {
  body {
    max-width: 992px;
    margin: auto;
  }
  .Fonctionnement > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .Fonctionnement > div .Fonctionnement_Bloc {
    width: 30%;
  }
  .Fonctionnement {
    min-height: auto;
  }
  .RestaurantList {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .RestaurantList_Block {
    width: 45%;
  }
  .LikeButton {
    margin-right: 7%;
  }
}
@media (min-width: 992px) {
  body {
    max-width: 100%;
  }
  header > a {
    margin-right: 1%;
  }
  .logonext {
    margin-right: auto;
    margin-left: 1%;
    width: 20%;
  }
  .Resto_Image {
    max-height: 600px;
  }
  .Resto_Menu {
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
  }
  .Resto_Menu .Resto_Menu_Bloc {
    width: 40%;
    align-self: flex-start;
  }
  .Resto_Menu .explore_restaurant {
    margin-bottom: 30px;
  }
  .flexAlign {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
